webapps/root/schema/tei/xmod_web.rnc

default namespace = "http://www.tei-c.org/ns/1.0"
namespace a1 = "http://relaxng.org/ns/compatibility/annotations/1.0"
namespace rng = "http://relaxng.org/ns/structure/1.0"
namespace s = "http://www.ascc.net/xml/schematron"
namespace teix = "http://www.tei-c.org/ns/Examples"
namespace xlink = "http://www.w3.org/1999/xlink"
namespace xmt = "http://www.cch.kcl.ac.uk/xmod/tei/1.0"
namespace xsi = "http://www.w3.org/2001/XMLSchema-instance"

# Schema generated from ODD source 2009-04-30T04:38:26-04:00. 
# TEI Edition: 1.3.0. Last updated on February 1st 2009.
#

#
xmtmacro.paraContent =
  (text
   | xmtmodel.gLike
   | xmtmodel.phrase
   | xmtmodel.inter
   | xmtmodel.global)*
xmtmacro.limitedContent =
  (text | xmtmodel.limitedPhrase | xmtmodel.inter)*
xmtmacro.phraseSeq =
  (text | xmtmodel.gLike | xmtmodel.phrase | xmtmodel.global)*
xmtmacro.phraseSeq.limited =
  (text | xmtmodel.limitedPhrase | xmtmodel.global)*
xmtmacro.specialPara =
  (text
   | xmtmodel.gLike
   | xmtmodel.phrase
   | xmtmodel.inter
   | xmtmodel.divPart
   | xmtmodel.global)*
xmtmacro.anyXML =
  element * {
    (attribute * - (xml:id | xml:lang) { text }
     | text
     | xmtmacro.anyXML)*
  }
att.ascribed.attributes = att.ascribed.attribute.who, empty
att.ascribed.attribute.who =
  
  ## indicates the person, or group of
  ##	people, to whom the element content is ascribed.
  attribute who {
    list { xsd:anyURI+ }
  }?
att.canonical.attributes =
  att.canonical.attribute.key, att.canonical.attribute.ref, empty
att.canonical.attribute.key =
  
  ## provides an externally-defined means
  ##  of identifying the entity (or entities) being named, using a coded value
  ##       of some kind.
  attribute key { xsd:string }?
att.canonical.attribute.ref =
  
  ##  (reference) provides an explicit means of locating a full definition
  ##       for the entity being named by means of one or more URIs.
  attribute ref {
    list { xsd:anyURI+ }
  }?
att.dimensions.attributes =
  att.dimensions.attribute.unit,
  att.dimensions.attribute.quantity,
  att.dimensions.attribute.extent,
  att.dimensions.attribute.atLeast,
  att.dimensions.attribute.atMost,
  att.dimensions.attribute.min,
  att.dimensions.attribute.max,
  att.dimensions.attribute.precision,
  att.dimensions.attribute.scope,
  empty
att.dimensions.attribute.unit =
  
  ## names the unit used for the measurement
  ## Suggested values include: 1] cm (centimetres); 2] mm (millimetres); 3] in (inches); 4] lines; 5] chars (characters)
  attribute unit {
    
    ## (centimetres) 
    "cm"
    | 
      ## (millimetres) 
      "mm"
    | 
      ## (inches) 
      "in"
    | 
      ## lines of text
      "lines"
    | 
      ## (characters) characters of text
      "chars"
    | xsd:Name
  }?
att.dimensions.attribute.quantity =
  
  ## specifies the length in the units specified
  attribute quantity { xsd:double | xsd:decimal }?
att.dimensions.attribute.extent =
  
  ## indicates the size of the object concerned using a
  ##       project-specific vocabulary combining quantity and units in a
  ##       single string of words.  
  attribute extent {
    list {
      xsd:token { pattern = "(\p{L}|\p{N}|\p{P}|\p{S})+" }+
    }
  }?
att.dimensions.attribute.atLeast =
  
  ## gives a minimum  estimated value for the  measurement.
  attribute atLeast { xsd:double | xsd:decimal }?
att.dimensions.attribute.atMost =
  
  ## gives a maximum  estimated value for the  measurement.
  attribute atMost { xsd:double | xsd:decimal }?
att.dimensions.attribute.min =
  
  ## where the measurement summarizes more than one
  ##       observation, supplies the minimum value observed.
  attribute min { xsd:double | xsd:decimal }?
att.dimensions.attribute.max =
  
  ## where the measurement summarizes more than one
  ##       observation, supplies the maximum value observed.
  attribute max { xsd:double | xsd:decimal }?
att.dimensions.attribute.precision =
  
  ## characterizes the precision of the values specified by the
  ##       other attributes.
  attribute precision { "high" | "medium" | "low" | "unknown" }?
att.dimensions.attribute.scope =
  
  ## where the measurement summarizes more than one
  ##       observation, specifies the applicability of this measurement.
  ## Sample values include: 1] all; 2] most; 3] range
  attribute scope { xsd:Name }?
att.datable.w3c.attributes =
  att.datable.w3c.attribute.period,
  att.datable.w3c.attribute.when,
  att.datable.w3c.attribute.notBefore,
  att.datable.w3c.attribute.notAfter,
  att.datable.w3c.attribute.from,
  att.datable.w3c.attribute.to,
  empty
att.datable.w3c.attribute.period =
  
  ## supplies a pointer to some location defining a named
  ##       period of time within which the datable item is understood to
  ##       have occurred.
  attribute period { xsd:anyURI }?
att.datable.w3c.attribute.when =
  
  ## supplies the value of the date or time in a standard form,
  ##       e.g. yyyy-mm-dd.
  attribute when {
    xsd:date
    | xsd:gYear
    | xsd:gMonth
    | xsd:gDay
    | xsd:gYearMonth
    | xsd:gMonthDay
    | xsd:time
    | xsd:dateTime
  }?
att.datable.w3c.attribute.notBefore =
  
  ## specifies the earliest possible date for the event in
  ##	  standard form, e.g. yyyy-mm-dd.
  attribute notBefore {
    xsd:date
    | xsd:gYear
    | xsd:gMonth
    | xsd:gDay
    | xsd:gYearMonth
    | xsd:gMonthDay
    | xsd:time
    | xsd:dateTime
  }?
att.datable.w3c.attribute.notAfter =
  
  ## specifies the latest possible date for the event in
  ##	  standard form, e.g. yyyy-mm-dd.
  attribute notAfter {
    xsd:date
    | xsd:gYear
    | xsd:gMonth
    | xsd:gDay
    | xsd:gYearMonth
    | xsd:gMonthDay
    | xsd:time
    | xsd:dateTime
  }?
att.datable.w3c.attribute.from =
  
  ## indicates the starting point of the period in standard form, e.g. yyyy-mm-dd.
  attribute from {
    xsd:date
    | xsd:gYear
    | xsd:gMonth
    | xsd:gDay
    | xsd:gYearMonth
    | xsd:gMonthDay
    | xsd:time
    | xsd:dateTime
  }?
att.datable.w3c.attribute.to =
  
  ## indicates the ending point of the period in standard
  ##	  form, e.g. yyyy-mm-dd.
  attribute to {
    xsd:date
    | xsd:gYear
    | xsd:gMonth
    | xsd:gDay
    | xsd:gYearMonth
    | xsd:gMonthDay
    | xsd:time
    | xsd:dateTime
  }?
att.datable.attributes =
  att.datable.w3c.attributes, att.datable.iso.attributes, empty
att.declarable.attributes = att.declarable.attribute.default, empty
att.declarable.attribute.default =
  
  ## indicates whether or not this element is selected by default when
  ## its parent is selected.
  [ a1:defaultValue = "false" ]
  attribute default {
    
    ## This element is selected if its parent is selected
    "true"
    | 
      ## This element can only be selected explicitly, unless it is the
      ## only one of its kind, in which case it is selected if its parent is selected.
      "false"
  }?
att.declaring.attributes = att.declaring.attribute.decls, empty
att.declaring.attribute.decls =
  
  ## identifies one or more declarable elements within the
  ## header, which are understood to apply to the element bearing this
  ## attribute and its content.
  attribute decls {
    list { xsd:anyURI+ }
  }?
att.divLike.attributes =
  att.divLike.attribute.org,
  att.divLike.attribute.sample,
  att.divLike.attribute.part,
  empty
att.divLike.attribute.org =
  
  ## (organization) specifies how the content of the division is organized.
  [ a1:defaultValue = "uniform" ]
  attribute org {
    
    ## composite content: i.e. no claim is made about the
    ##		  sequence in which the immediate contents of this division
    ##		  are to be processed, or their inter-relationships.
    "composite"
    | 
      ## uniform content: i.e. the immediate contents of this
      ##		  element are regarded as forming a logical unit, to be
      ##		  processed in sequence.
      "uniform"
  }?
att.divLike.attribute.sample =
  
  ## indicates whether this division is a sample of the
  ##		original source and if so, from which part.
  [ a1:defaultValue = "complete" ]
  attribute sample {
    
    ## division lacks material present at end in source.
    "initial"
    | 
      ## division lacks material at start and end.
      "medial"
    | 
      ## division lacks material at start.
      "final"
    | 
      ## position of sampled material within original unknown.
      "unknown"
    | 
      ## division is not a sample.
      "complete"
  }?
att.divLike.attribute.part =
  
  ## specifies whether or not the division is fragmented by
  ##		some other structural element, for example a speech which is
  ##		divided between two or more verse stanzas.
  [ a1:defaultValue = "N" ]
  attribute part {
    
    ## (yes) the division is incomplete in some respect
    "Y"
    | 
      ## (no) either the division is complete, or no claim is made as to its completeness.
      "N"
    | 
      ## (initial) the initial part of an incomplete division
      "I"
    | 
      ## (medial) a medial part of an incomplete division
      "M"
    | 
      ## (final) the final part of an incomplete division
      "F"
  }?
att.duration.w3c.attributes = att.duration.w3c.attribute.dur, empty
att.duration.w3c.attribute.dur =
  
  ## (duration) indicates the length of this element in time.
  attribute dur { xsd:duration }?
att.editLike.attributes =
  att.dimensions.attributes,
  att.editLike.attribute.cert,
  att.editLike.attribute.resp,
  att.editLike.attribute.evidence,
  att.editLike.attribute.source,
  empty
att.editLike.attribute.cert =
  
  ## (certainty) signifies the degree of certainty associated with the
  ##	intervention or interpretation.
  attribute cert { "high" | "medium" | "low" | "unknown" }?
att.editLike.attribute.resp =
  
  ## (responsible party) indicates the agency responsible for the
  ##	intervention or interpretation, for example an editor or transcriber.
  attribute resp {
    list { xsd:anyURI+ }
  }?
att.editLike.attribute.evidence =
  
  ## indicates the nature of the evidence supporting the reliability or
  ##   accuracy of the intervention or interpretation.
  ## Suggested values include: 1] internal; 2] external; 3] conjecture
  attribute evidence {
    
    ## there is internal evidence to support the intervention.
    "internal"
    | 
      ## there is external evidence to support the intervention.
      "external"
    | 
      ## the intervention or interpretation has been made by
      ##	    the editor, cataloguer, or scholar on the basis of their
      ##	    expertise.
      "conjecture"
    | xsd:Name
  }?
att.editLike.attribute.source =
  
  ## contains a list of one or more pointers indicating the
  ##       sources which support the given reading.
  attribute source {
    list { xsd:anyURI+ }
  }?
att.global.attributes =
  att.global.linking.attributes,
  att.global.attribute.xmlid,
  att.global.attribute.n,
  att.global.attribute.xmllang,
  att.global.attribute.rend,
  att.global.attribute.xmlbase,
  empty
att.global.attribute.xmlid =
  
  ## (identifier) provides a unique identifier for the element bearing the
  ##       attribute.
  attribute xml:id { xsd:ID }?
att.global.attribute.n =
  
  ## (number) gives a number (or other label) for an element, which is
  ##       not necessarily unique within the document.
  attribute n {
    list {
      xsd:token { pattern = "(\p{L}|\p{N}|\p{P}|\p{S})+" }+
    }
  }?
att.global.attribute.xmllang =
  
  ## (language) indicates the language of the element content using a
  ##       tag generated according to BCP 47
  attribute xml:lang { xsd:language }?
att.global.attribute.rend =
  
  ## (rendition) indicates how the element in question was rendered or
  ##	presented in the source text.
  attribute rend {
    list {
      xsd:token { pattern = "(\p{L}|\p{N}|\p{P}|\p{S})+" }+
    }
  }?
att.global.attribute.xmlbase =
  
  ## provides a base URI reference with which applications can
  ##       resolve relative URI references into absolute URI
  ##       references.
  attribute xml:base { xsd:anyURI }?
att.internetMedia.attributes =
  att.internetMedia.attribute.mimeType, empty
att.internetMedia.attribute.mimeType =
  
  ## (MIME media type) specifies the applicable multimedia internet mail extension (MIME) media type
  attribute mimeType {
    xsd:token { pattern = "(\p{L}|\p{N}|\p{P}|\p{S})+" }
  }?
att.naming.attributes =
  att.canonical.attributes, att.naming.attribute.nymRef, empty
att.naming.attribute.nymRef =
  
  ## (reference to the canonical name) provides a means of locating the canonical form
  ##       (nym) of the names associated with the object
  ##        named by
  ##       the element bearing it.
  attribute nymRef {
    list { xsd:anyURI+ }
  }?
att.placement.attributes = att.placement.attribute.place, empty
att.placement.attribute.place =
  
  ## 
  ## Suggested values include: 1] below; 2] bottom; 3] margin; 4] top; 5] opposite; 6] overleaf; 7] above; 8] end; 9] inline; 10] inspace
  attribute place {
    list {
      (
       ## below the line
       "below"
       | 
         ## at the foot of the page
         "bottom"
       | 
         ## in the margin (left, right, or both)
         "margin"
       | 
         ## at the top of the page
         "top"
       | 
         ## on the opposite, i.e. facing, page
         "opposite"
       | 
         ## on the other side of the leaf
         "overleaf"
       | 
         ## above the line
         "above"
       | 
         ## at the end of e.g. chapter or volume.
         "end"
       | 
         ## within the body of the text.
         "inline"
       | 
         ##  in a predefined space, for example left by an earlier scribe.
         "inspace"
       | xsd:Name)+
    }
  }?
att.segLike.attributes =
  att.segLike.attribute.function, att.segLike.attribute.part, empty
att.segLike.attribute.function =
  
  ## characterizes the function of the segment.
  attribute function { xsd:Name }?
att.segLike.attribute.part =
  
  ## specifies whether or not the segment is fragmented by some other
  ## structural element, for example a clause which is divided between two
  ## or more sentences.
  [ a1:defaultValue = "N" ]
  attribute part {
    
    ## (yes) the segment is incomplete in some respect
    "Y"
    | 
      ## (no) either the segment is complete, or no claim is made as to
      ## its completeness
      "N"
    | 
      ## (initial) the initial part of an incomplete segment
      "I"
    | 
      ## (medial) a medial part of an incomplete segment
      "M"
    | 
      ## (final) the final part of an incomplete segment
      "F"
  }?
att.sourced.attributes = att.sourced.attribute.ed, empty
att.sourced.attribute.ed =
  
  ##  (edition) supplies an arbitrary identifier for the source edition in which
  ##       the associated feature (for example, a  page, column, or line
  ##       break) occurs at this point in the text.
  attribute ed {
    list { xsd:anyURI+ }
  }?
att.tableDecoration.attributes =
  att.tableDecoration.attribute.role,
  att.tableDecoration.attribute.rows,
  att.tableDecoration.attribute.cols,
  empty
att.tableDecoration.attribute.role =
  
  ## indicates the kind of information held in this cell or
  ## in each cell of this row.
  ## Suggested values include: 1] label; 2] data
  [ a1:defaultValue = "data" ]
  attribute role {
    
    ## labelling or descriptive information only.
    "label"
    | 
      ## data values.
      "data"
    | xsd:Name
  }?
att.tableDecoration.attribute.rows =
  
  ## indicates the number of rows occupied by this cell or row.
  [ a1:defaultValue = "1" ] attribute rows { xsd:nonNegativeInteger }?
att.tableDecoration.attribute.cols =
  
  ## (columns) indicates the number of columns occupied by this cell or
  ##	row.
  [ a1:defaultValue = "1" ] attribute cols { xsd:nonNegativeInteger }?
att.translatable.attributes = att.translatable.attribute.version, empty
att.translatable.attribute.version =
  
  ## specifies the version name or number of the source from
  ##	which the translated version was derived
  attribute version {
    xsd:token { pattern = "(\p{L}|\p{N}|\p{P}|\p{S})+" }
  }?
att.typed.attributes =
  att.typed.attribute.type, att.typed.attribute.subtype, empty
att.typed.attribute.type =
  
  ## characterizes the element in some sense, using any convenient
  ##  classification scheme or typology.
  attribute type { xsd:Name }?
att.typed.attribute.subtype =
  
  ## provides a sub-categorization of the element, if needed
  attribute subtype { xsd:Name }?
att.xmlspace.attributes = att.xmlspace.attribute.xmlspace, empty
att.xmlspace.attribute.xmlspace =
  
  ## signals an intention that white space should be 
  ##       preserved by applications
  attribute xml:space {
    
    ##
    "default"
    | 
      ##
      "preserve"
  }?
xmtmodel.nameLike.agent = xmtname
xmtmodel.segLike = xmtseg
xmtmodel.hiLike = xmthi
xmtmodel.emphLike = xmtforeign | xmtemph | xmtgloss | xmtterm | xmttitle
xmtmodel.highlighted = xmtmodel.hiLike | xmtmodel.emphLike
xmtmodel.dateLike = xmtdate
xmtmodel.measureLike = xmtnum
xmtmodel.egLike = xmteg
xmtmodel.graphicLike = xmtgraphic
xmtmodel.pPart.editorial = xmtabbr | xmtexpan
xmtmodel.pPart.edit = xmtmodel.pPart.editorial
xmtmodel.ptrLike = xmtptr | xmtref | xmtdownload
xmtmodel.milestoneLike = xmtpb | xmtlb | xmtanchor
xmtmodel.gLike = notAllowed
xmtmodel.biblLike = xmtbibl
xmtmodel.headLike = xmthead
xmtmodel.labelLike = xmtdesc | xmtlabel
xmtmodel.listLike = xmtlist | xmtlistBibl | xmtoList | xmtuList
xmtmodel.noteLike = xmtnote
xmtmodel.lLike = xmtl
xmtmodel.pLike = xmtp | xmtab | xmtcode
xmtmodel.entryPart = notAllowed
xmtmodel.divPart = xmtmodel.lLike | xmtmodel.pLike | xmtlg
xmtmodel.placeStateLike = notAllowed
xmtmodel.publicationStmtPart =
  xmtaddress
  | xmtdate
  | xmtpublisher
  | xmtpubPlace
  | xmtdistributor
  | xmtauthority
  | xmtidno
  | xmtavailability
xmtmodel.quoteLike = xmtcit
xmtmodel.qLike = xmtmodel.quoteLike | xmtq
xmtmodel.respLike =
  xmtauthor
  | xmteditor
  | xmtrespStmt
  | xmtsponsor
  | xmtfunder
  | xmtprincipal
xmtmodel.divWrapper = xmtdateline
xmtmodel.divTopPart = xmtmodel.headLike
xmtmodel.divTop = xmtmodel.divWrapper | xmtmodel.divTopPart
xmtmodel.pLike.front = xmthead
xmtmodel.divBottomPart = notAllowed
xmtmodel.divBottom = xmtmodel.divWrapper | xmtmodel.divBottomPart
xmtmodel.imprintPart =
  xmtpublisher | xmtbiblScope | xmtpubPlace | xmtdistributor
xmtmodel.addressLike = xmtemail | xmtaddress | xmtaffiliation
xmtmodel.nameLike =
  xmtmodel.nameLike.agent | xmtmodel.placeStateLike | xmtrs
xmtmodel.global = xmtmodel.milestoneLike | xmtmodel.noteLike
xmtmodel.biblPart =
  xmtmodel.respLike
  | xmtmodel.imprintPart
  | xmtedition
  | xmtextent
  | xmtidno
xmtmodel.frontPart = xmtdivGen
xmtmodel.addrPart = xmtmodel.nameLike | xmtaddrLine
xmtmodel.pPart.data =
  xmtmodel.dateLike
  | xmtmodel.measureLike
  | xmtmodel.addressLike
  | xmtmodel.nameLike
xmtmodel.inter =
  xmtmodel.egLike
  | xmtmodel.biblLike
  | xmtmodel.labelLike
  | xmtmodel.listLike
  | xmtmodel.qLike
  | xmttable
  | xmtfigure
xmtmodel.common = xmtmodel.divPart | xmtmodel.inter
xmtmodel.phrase =
  xmtmodel.segLike
  | xmtmodel.highlighted
  | xmtmodel.graphicLike
  | xmtmodel.pPart.edit
  | xmtmodel.ptrLike
  | xmtmodel.pPart.data
xmtmodel.limitedPhrase =
  xmtmodel.emphLike
  | xmtmodel.pPart.editorial
  | xmtmodel.ptrLike
  | xmtmodel.pPart.data
xmtmodel.divLike = xmtdiv
xmtmodel.divGenLike = xmtdivGen
xmtmodel.div1Like = notAllowed
xmtmodel.resourceLike = notAllowed
xmtp =
  
  ## (paragraph) marks paragraphs in prose.
  element p {
    xmtmacro.paraContent,
    att.global.attribute.xmlid,
    att.global.attribute.n,
    att.global.attribute.xmllang,
    att.global.attribute.rend,
    att.global.attribute.xmlbase,
    att.global.linking.attributes,
    att.declaring.attributes,
    empty
  }
xmtforeign =
  
  ## (foreign) identifies a word or phrase as belonging to some language other
  ##         than that of the surrounding text. 
  element foreign {
    xmtmacro.phraseSeq,
    att.global.attribute.xmlid,
    att.global.attribute.n,
    att.global.attribute.xmllang,
    att.global.attribute.rend,
    att.global.attribute.xmlbase,
    att.global.linking.attributes,
    empty
  }
xmtemph =
  
  ## (emphasized) marks words or phrases which are stressed or emphasized for
  ##         linguistic or rhetorical effect.
  element emph {
    xmtmacro.paraContent,
    att.global.attribute.xmlid,
    att.global.attribute.n,
    att.global.attribute.xmllang,
    att.global.attribute.rend,
    att.global.attribute.xmlbase,
    att.global.linking.attributes,
    empty
  }
xmthi =
  
  ## (highlighted) marks a word or phrase as graphically distinct from the
  ##         surrounding text, for reasons concerning which no claim is
  ##         made. 
  element hi {
    xmtmacro.paraContent,
    
    ## specify a list of values
    attribute rend {
      
      ## Bold
      "bold"
      | 
        ## Italic
        "italic"
      | 
        ## Bold and italic
        "bolditalic"
      | 
        ## Superscript
        "sup"
      | 
        ## Subscript
        "sub"
    }?,
    att.global.attribute.xmlid,
    att.global.attribute.n,
    att.global.attribute.xmllang,
    att.global.attribute.xmlbase,
    att.global.linking.attributes,
    empty
  }
xmtq =
  
  ## (separated from the surrounding text with quotation marks) contains material which is marked as (ostensibly) being somehow different than the
  ##     surrounding text, for any one of a variety of reasons including, but not limited to: direct
  ##     speech or thought, technical terms or jargon, authorial distance, quotations from elsewhere, and
  ##     passages that are mentioned but not used.
  element q {
    xmtmacro.specialPara,
    att.global.attribute.xmlid,
    att.global.attribute.n,
    att.global.attribute.xmllang,
    att.global.attribute.rend,
    att.global.attribute.xmlbase,
    att.global.linking.attributes,
    att.ascribed.attributes,
    
    ## may be used to indicate whether the offset passage is spoken or thought, or to
    ##         characterize it more finely.
    ## Suggested values include: 1] spoken; 2] thought; 3] written; 4] soCalled; 5] foreign (foreign words); 6] distinct (linguistically distinct); 7] term (technical term); 8] emph (rhetorically emphasized); 9] mentioned
    attribute type {
      
      ## representation of speech
      "spoken"
      | 
        ## representation of thought, e.g. internal monologue
        "thought"
      | 
        ## quotation from a written source
        "written"
      | 
        ## authorial distance
        "soCalled"
      | 
        ## (foreign words) 
        "foreign"
      | 
        ## (linguistically distinct) 
        "distinct"
      | 
        ## (technical term) 
        "term"
      | 
        ## (rhetorically emphasized) 
        "emph"
      | 
        ## refering to itself, not its normal referant
        "mentioned"
      | xsd:Name
    }?,
    empty
  }
xmtcit =
  
  ## (cited quotation) contains a quotation from some other document, together with a
  ##         bibliographic reference to its source.  In a dictionary it may
  ##         contain an example text with at least one occurrence of the word
  ##         form, used in the sense being described, or a translation of the
  ##         headword, or an example. 
  element cit {
    (xmtmodel.qLike
     | xmtmodel.biblLike
     | xmtmodel.ptrLike
     | xmtmodel.global
     | xmtmodel.entryPart)+,
    att.global.attribute.xmlid,
    att.global.attribute.n,
    att.global.attribute.xmllang,
    att.global.attribute.rend,
    att.global.attribute.xmlbase,
    att.global.linking.attributes,
    att.typed.attributes,
    empty
  }
xmtdesc =
  
  ## (description) contains a brief description of the object documented by its
  ##     parent element, including its intended usage, purpose,
  ##     or application where this is appropriate.
  element desc {
    xmtmacro.limitedContent,
    att.global.attribute.xmlid,
    att.global.attribute.n,
    att.global.attribute.xmllang,
    att.global.attribute.rend,
    att.global.attribute.xmlbase,
    att.global.linking.attributes,
    att.translatable.attributes,
    empty
  }
xmtgloss =
  
  ## identifies a phrase or word used to provide a gloss or
  ##         definition for some other word or phrase.
  element gloss {
    xmtmacro.phraseSeq,
    att.global.attribute.xmlid,
    att.global.attribute.n,
    att.global.attribute.xmllang,
    att.global.attribute.rend,
    att.global.attribute.xmlbase,
    att.global.linking.attributes,
    att.declaring.attributes,
    att.translatable.attributes,
    att.typed.attributes,
    (
     ## identifies the associated term element by an
     ##                 absolute or relative URI reference
     attribute target { xsd:anyURI }?
     | 
       ## (canonical reference) identifies the associated term element using a canonical
       ##                 reference from a scheme defined in a refsDecl element
       ##                 in the TEI header
       attribute cRef { xsd:anyURI }?),
    empty
  }
xmtterm =
  
  ## contains a single-word, multi-word, or symbolic designation which is regarded as a
  ##         technical term.
  element term {
    xmtmacro.phraseSeq,
    att.global.attribute.xmlid,
    att.global.attribute.n,
    att.global.attribute.xmllang,
    att.global.attribute.rend,
    att.global.attribute.xmlbase,
    att.global.linking.attributes,
    att.declaring.attributes,
    att.typed.attributes,
    att.canonical.attributes,
    
    ## supplies the sort key for this term in an index.
    attribute sortKey {
      xsd:token { pattern = "(\p{L}|\p{N}|\p{P}|\p{S})+" }
    }?,
    (
     ## identifies the associated gloss element by an absolute or relative
     ##                     URI reference
     attribute target { xsd:anyURI }?
     | 
       ## identifies the associated gloss element using a canonical reference
       ##                     from a scheme defined in a refsDecl element in the TEI header
       attribute cRef { xsd:anyURI }?),
    empty
  }
xmtname =
  
  ## (name, proper noun) contains a proper noun or noun phrase.
  element name {
    xmtmacro.phraseSeq,
    att.global.attribute.xmlid,
    att.global.attribute.n,
    att.global.attribute.xmllang,
    att.global.attribute.rend,
    att.global.attribute.xmlbase,
    att.global.linking.attributes,
    att.naming.attributes,
    att.typed.attributes,
    empty
  }
xmtrs =
  
  ## (referencing string) contains a general purpose name or referring string.
  element rs {
    xmtmacro.phraseSeq,
    att.global.attribute.xmlid,
    att.global.attribute.n,
    att.global.attribute.xmllang,
    att.global.attribute.rend,
    att.global.attribute.xmlbase,
    att.global.linking.attributes,
    att.naming.attributes,
    
    ## indicates more specifically the object referred to by the referencing string.
    ##                 Values might include person, place, ship,
    ##                     element etc.
    attribute type { xsd:Name }?,
    empty
  }
xmtemail =
  
  ## (electronic mail address) contains an e-mail address identifying a location to which
  ##         e-mail messages can be delivered.
  ##     
  element email {
    xmtmacro.phraseSeq,
    
    ## specifies the email address
    attribute xmt:target { xsd:anyURI }?,
    att.global.attribute.xmlid,
    att.global.attribute.n,
    att.global.attribute.xmllang,
    att.global.attribute.rend,
    att.global.attribute.xmlbase,
    att.global.linking.attributes,
    empty
  }
xmtaddress =
  
  ## contains a postal  address, for example of a
  ##         publisher, an organization, or an individual.
  element address {
    (xmtmodel.global*, (xmtmodel.addrPart, xmtmodel.global*)+),
    att.global.attribute.xmlid,
    att.global.attribute.n,
    att.global.attribute.xmllang,
    att.global.attribute.rend,
    att.global.attribute.xmlbase,
    att.global.linking.attributes,
    empty
  }
xmtaddrLine =
  
  ## (address line) contains one line of a postal address.
  element addrLine {
    xmtmacro.phraseSeq,
    att.global.attribute.xmlid,
    att.global.attribute.n,
    att.global.attribute.xmllang,
    att.global.attribute.rend,
    att.global.attribute.xmlbase,
    att.global.linking.attributes,
    empty
  }
xmtnum =
  
  ## (number) contains a number, written in any form.
  element num {
    xmtmacro.phraseSeq,
    att.global.attribute.xmlid,
    att.global.attribute.n,
    att.global.attribute.xmllang,
    att.global.attribute.rend,
    att.global.attribute.xmlbase,
    att.global.linking.attributes,
    
    ## indicates the type of numeric value.
    ## Suggested values include: 1] cardinal; 2] ordinal; 3] fraction; 4] percentage
    attribute type {
      
      ## absolute number, e.g. 21, 21.5
      "cardinal"
      | 
        ## ordinal number, e.g. 21st
        "ordinal"
      | 
        ## fraction, e.g. one half or three-quarters
        "fraction"
      | 
        ## a percentage
        "percentage"
      | xsd:Name
    }?,
    
    ## supplies the value of the number in standard form.
    attribute value { xsd:double | xsd:decimal }?,
    empty
  }
xmtdate =
  
  ## contains a date in any format.
  element date {
    (text | xmtmodel.gLike | xmtmodel.phrase | xmtmodel.global)*,
    att.global.attribute.xmlid,
    att.global.attribute.n,
    att.global.attribute.xmllang,
    att.global.attribute.rend,
    att.global.attribute.xmlbase,
    att.global.linking.attributes,
    att.datable.attributes,
    att.editLike.attributes,
    att.typed.attributes,
    
    ## indicates the system or calendar to which the date
    ##                 represented by the content of this element belongs.
    ## Suggested values include: 1] Gregorian; 2] Julian; 3] Islamic; 4] Hebrew; 5] Revolutionary; 6] Iranian; 7] Coptic; 8] Chinese
    attribute calendar {
      
      ## Gregorian calendar
      "Gregorian"
      | 
        ## Julian calendar
        "Julian"
      | 
        ## Islamic or Muslim (hijri) lunar calendar
        "Islamic"
      | 
        ## Hebrew or Jewish lunisolar calendar
        "Hebrew"
      | 
        ## French Revolutionary calendar
        "Revolutionary"
      | 
        ## Iranian or Persian (Jalaali) solar calendar
        "Iranian"
      | 
        ## Coptic or Alexandrian calendar
        "Coptic"
      | 
        ## Chinese lunisolar calendar
        "Chinese"
      | xsd:Name
    }?,
    empty
  }
xmtabbr =
  
  ## (abbreviation) contains an abbreviation of any sort.
  element abbr {
    xmtmacro.phraseSeq,
    att.global.attribute.xmlid,
    att.global.attribute.n,
    att.global.attribute.xmllang,
    att.global.attribute.rend,
    att.global.attribute.xmlbase,
    att.global.linking.attributes,
    
    ## allows the encoder to classify the abbreviation according to some convenient
    ##                 typology.
    ## Sample values include: 1] suspension; 2] contraction; 3] brevigraph; 4] superscription; 5] acronym; 6] title; 7] organization; 8] geographic
    attribute type { xsd:Name }?,
    empty
  }
xmtexpan =
  
  ## (expansion) contains the expansion of an abbreviation.
  element expan {
    xmtmacro.phraseSeq,
    att.global.attribute.xmlid,
    att.global.attribute.n,
    att.global.attribute.xmllang,
    att.global.attribute.rend,
    att.global.attribute.xmlbase,
    att.global.linking.attributes,
    att.editLike.attributes,
    empty
  }
xmtptr =
  
  ## (pointer) defines a pointer to another location.
  element ptr {
    empty,
    att.global.attribute.xmlid,
    att.global.attribute.n,
    att.global.attribute.xmllang,
    att.global.attribute.rend,
    att.global.attribute.xmlbase,
    att.global.linking.attributes,
    att.pointing.attributes,
    att.declaring.attributes,
    (
     ## specifies the destination of the pointer by supplying one or more URI References
     attribute target {
       list { xsd:anyURI+ }
     }
     | 
       ## (canonical reference) specifies the destination of the pointer by supplying a canonical reference from a
       ##                 scheme defined in a refsDecl element in the TEI header
       attribute cRef {
         list {
           xsd:token { pattern = "(\p{L}|\p{N}|\p{P}|\p{S})+" }+
         }
       }),
    empty
  }
xmtref =
  
  ## (reference) defines a reference to another location, possibly modified by additional text or comment.
  element ref {
    xmtmacro.paraContent,
    att.global.attribute.xmlid,
    att.global.attribute.n,
    att.global.attribute.xmllang,
    att.global.attribute.rend,
    att.global.attribute.xmlbase,
    att.global.linking.attributes,
    att.pointing.attributes,
    att.declaring.attributes,
    (
     ## specifies the destination of the reference by supplying one or more URI References
     attribute target {
       list { xsd:anyURI+ }
     }?
     | 
       ## (canonical reference) specifies the destination of the reference by supplying a canonical reference from
       ##                 a scheme defined in a refsDecl element in the TEI header
       attribute cRef {
         list {
           xsd:token { pattern = "(\p{L}|\p{N}|\p{P}|\p{S})+" }+
         }
       }?),
    empty
  }
xmtlist =
  
  ## (list) contains any sequence of items organized as a list.
  element list {
    ((xmtmodel.divTop | xmtmodel.global)*,
     ((xmtitem, xmtmodel.global*)+
      | (xmtlabel, xmtmodel.global*, xmtitem, xmtmodel.global*)+),
     (xmtmodel.divBottom, xmtmodel.global*)*),
    att.global.attribute.xmlid,
    att.global.attribute.n,
    att.global.attribute.xmllang,
    att.global.attribute.rend,
    att.global.attribute.xmlbase,
    att.global.linking.attributes,
    
    ## describes the form of the list.
    ## Suggested values include: 1] ordered; 2] bulleted; 3] simple; 4] gloss
    [ a1:defaultValue = "simple" ]
    attribute type {
      
      ## list items are numbered or lettered. 
      "ordered"
      | 
        ## list items are marked with a bullet or other typographic device. 
        "bulleted"
      | 
        ## list items are not numbered or bulleted. 
        "simple"
      | 
        ## each list item glosses some term or concept, which is given by a label element
        ##             preceding the list item.
        "gloss"
      | xsd:Name
    }?,
    empty
  }
xmtitem =
  
  ## contains one
  ##         component of a list.
  element item {
    xmtmacro.specialPara,
    att.global.attribute.xmlid,
    att.global.attribute.n,
    att.global.attribute.xmllang,
    att.global.attribute.rend,
    att.global.attribute.xmlbase,
    att.global.linking.attributes,
    empty
  }
xmtlabel =
  
  ## contains the label associated with an item in a list; in glossaries, marks the term being
  ##         defined.
  element label {
    xmtmacro.phraseSeq,
    att.global.attribute.xmlid,
    att.global.attribute.n,
    att.global.attribute.xmllang,
    att.global.attribute.rend,
    att.global.attribute.xmlbase,
    att.global.linking.attributes,
    empty
  }
xmthead =
  
  ## (heading) contains any type of heading, for example the title of a section,
  ##         or the heading of a list, glossary, manuscript description, etc.
  element head {
    xmtmacro.paraContent,
    att.global.attribute.xmlid,
    att.global.attribute.n,
    att.global.attribute.xmllang,
    att.global.attribute.rend,
    att.global.attribute.xmlbase,
    att.global.linking.attributes,
    att.typed.attributes,
    empty
  }
xmtnote =
  
  ## contains a note or annotation.
  element note {
    xmtmacro.specialPara,
    att.global.attribute.xmlid,
    att.global.attribute.n,
    att.global.attribute.xmllang,
    att.global.attribute.rend,
    att.global.attribute.xmlbase,
    att.global.linking.attributes,
    att.placement.attributes,
    
    ## describes the type of note.
    attribute type { xsd:Name }?,
    
    ##  (responsible party) indicates who is responsible for the annotation: author, editor, translator, etc.
    attribute resp { xsd:anyURI }?,
    
    ## indicates whether the copy text shows the exact place of reference for the note.
    [ a1:defaultValue = "true" ] attribute anchored { xsd:boolean }?,
    
    ## indicates the point (or points) of attachment for a note, or the beginning of the
    ##                 span to which the note is attached.
    attribute target {
      list { xsd:anyURI+ }
    }?,
    
    ## points to the end of the span to which the note is attached, if the note is not
    ##                 embedded in the text at that point.
    attribute targetEnd {
      list { xsd:anyURI+ }
    }?,
    empty
  }
xmtgraphic =
  
  ## indicates the location of an inline graphic, illustration, or figure.
  element graphic {
    empty,
    
    ## specify the type of a figure
    attribute xmt:type {
      xsd:token { pattern = "(\p{L}|\p{N}|\p{P}|\p{S})+" }
    }?,
    
    ## The display width of the image
    attribute width {
      xsd:token {
        pattern =
          "[\-+]?\d+(\.\d+)?(%|cm|mm|in|pt|pc|px|em|ex|gd|rem|vw|vh|vm)"
      }
    }?,
    
    ## The display height of the image
    attribute height {
      xsd:token {
        pattern =
          "[\-+]?\d+(\.\d+)?(%|cm|mm|in|pt|pc|px|em|ex|gd|rem|vw|vh|vm)"
      }
    }?,
    
    ## A scale factor to be applied to the image to make it the desired display size
    attribute scale { xsd:double | xsd:decimal }?,
    
    ## (uniform resource locator) A URL which refers to the image itself.
    attribute url { xsd:anyURI }?,
    att.global.attribute.xmlid,
    att.global.attribute.n,
    att.global.attribute.xmllang,
    att.global.attribute.rend,
    att.global.attribute.xmlbase,
    att.global.linking.attributes,
    att.internetMedia.attributes,
    att.declaring.attributes,
    empty
  }
xmtpb =
  
  ## (page break) marks the boundary between one page of a text and the next in a standard reference system.
  element pb {
    empty,
    att.global.attribute.xmlid,
    att.global.attribute.n,
    att.global.attribute.xmllang,
    att.global.attribute.rend,
    att.global.attribute.xmlbase,
    att.global.linking.attributes,
    att.typed.attributes,
    att.sourced.attributes,
    empty
  }
xmtlb =
  
  ## (line break) marks the start of a new (typographic) line in some edition or version of a text.
  element lb {
    empty,
    att.global.attribute.xmlid,
    att.global.attribute.n,
    att.global.attribute.xmllang,
    att.global.attribute.rend,
    att.global.attribute.xmlbase,
    att.global.linking.attributes,
    att.typed.attributes,
    att.sourced.attributes,
    empty
  }
xmtauthor =
  
  ## in a bibliographic reference, contains the name of the author(s), personal or corporate, of
  ##     a work; the primary statement of responsibility for any bibliographic item. 
  element author {
    xmtmacro.phraseSeq,
    att.global.attribute.xmlid,
    att.global.attribute.n,
    att.global.attribute.xmllang,
    att.global.attribute.rend,
    att.global.attribute.xmlbase,
    att.global.linking.attributes,
    att.canonical.attributes,
    empty
  }
xmteditor =
  
  ## secondary statement of responsibility for a
  ##         bibliographic item, for example the name of an individual, institution
  ##         or organization, (or of several such) acting as editor, compiler,
  ##         translator, etc. 
  element editor {
    xmtmacro.phraseSeq,
    att.global.attribute.xmlid,
    att.global.attribute.n,
    att.global.attribute.xmllang,
    att.global.attribute.rend,
    att.global.attribute.xmlbase,
    att.global.linking.attributes,
    
    ## specifies the nature of the intellectual responsibility
    [ a1:defaultValue = "editor" ] attribute role { xsd:Name }?,
    empty
  }
xmtrespStmt =
  
  ## (statement of responsibility) supplies a statement of responsibility for the intellectual content of a text, edition,
  ##     recording, or series, where the specialized elements for authors, editors, etc. do not suffice
  ##     or do not apply.
  element respStmt {
    ((xmtresp+, xmtmodel.nameLike.agent+)
     | (xmtmodel.nameLike.agent+, xmtresp+)),
    att.global.attribute.xmlid,
    att.global.attribute.n,
    att.global.attribute.xmllang,
    att.global.attribute.rend,
    att.global.attribute.xmlbase,
    att.global.linking.attributes,
    empty
  }
xmtresp =
  
  ## (responsibility) contains a phrase describing the nature of a person's intellectual responsibility.
  element resp {
    xmtmacro.phraseSeq.limited,
    att.global.attribute.xmlid,
    att.global.attribute.n,
    att.global.attribute.xmllang,
    att.global.attribute.rend,
    att.global.attribute.xmlbase,
    att.global.linking.attributes,
    att.canonical.attributes,
    empty
  }
xmttitle =
  
  ## contains a title for any kind of work.
  element title {
    xmtmacro.paraContent,
    att.global.attribute.xmlid,
    att.global.attribute.n,
    att.global.attribute.xmllang,
    att.global.attribute.rend,
    att.global.attribute.xmlbase,
    att.global.linking.attributes,
    att.canonical.attributes,
    
    ## indicates the bibliographic level for a title, that is, whether
    ##                                         it identifies an article, book, journal, series, or
    ##                                         unpublished material.
    attribute level {
      
      ## (analytic) analytic title (article, poem, or other item
      ##                                                   published as part of a larger item) 
      "a"
      | 
        ## (monographic) monographic title (book, collection, or
        ##                                                   other item published as a distinct item,
        ##                                                   including single volumes of multi-volume
        ##                                                   works) 
        "m"
      | 
        ## (journal) journal title 
        "j"
      | 
        ## (series) series title 
        "s"
      | 
        ## (unpublished) title of unpublished material (including
        ##                                                   theses and dissertations unless
        ##                                                   published by a commercial press)
        "u"
    }?,
    
    ## classifies the title according to some convenient typology.
    ## Sample values include: 1] main; 2] sub (subordinate); 3] alt (alternate); 4] short; 5] desc (descriptive)
    attribute type { xsd:Name }?,
    empty
  }
xmtpublisher =
  
  ## provides the name of the organization responsible for the publication or distribution of a
  ##         bibliographic item.
  element publisher {
    xmtmacro.phraseSeq,
    att.global.attribute.xmlid,
    att.global.attribute.n,
    att.global.attribute.xmllang,
    att.global.attribute.rend,
    att.global.attribute.xmlbase,
    att.global.linking.attributes,
    empty
  }
xmtbiblScope =
  
  ## (scope of citation) defines the scope of a bibliographic reference, for example as a
  ##         list of page numbers, or a named subdivision of a larger work.
  element biblScope {
    xmtmacro.phraseSeq,
    att.global.attribute.xmlid,
    att.global.attribute.n,
    att.global.attribute.xmllang,
    att.global.attribute.rend,
    att.global.attribute.xmlbase,
    att.global.linking.attributes,
    
    ## identifies the type of information conveyed by the element, e.g.
    ##                 columns, pages, volume.
    ## Suggested values include: 1] vol (volume); 2] issue; 3] pp (pages); 4] chap (chapter); 5] part
    attribute type {
      
      ## (volume) the element contains a volume number.
      "vol"
      | 
        ## the element contains an issue number, or volume and
        ##                         issue numbers.
        "issue"
      | 
        ## (pages) the element contains a page number or page range.
        "pp"
      | 
        ## (chapter) the element contains a chapter indication (number
        ##                         and/or title)
        "chap"
      | 
        ## the element identifies a part of a book or collection.
        "part"
      | xsd:Name
    }?,
    empty
  }
xmtpubPlace =
  
  ## (publication place) contains the name of the place where a bibliographic item was published.
  element pubPlace {
    xmtmacro.phraseSeq,
    att.global.attribute.xmlid,
    att.global.attribute.n,
    att.global.attribute.xmllang,
    att.global.attribute.rend,
    att.global.attribute.xmlbase,
    att.global.linking.attributes,
    att.naming.attributes,
    empty
  }
xmtbibl =
  
  ## (bibliographic citation) contains a loosely-structured bibliographic citation of which the sub-components may or may
  ##     not be explicitly tagged. 
  element bibl {
    (text
     | xmtmodel.gLike
     | xmtmodel.highlighted
     | xmtmodel.pPart.data
     | xmtmodel.pPart.edit
     | xmtmodel.segLike
     | xmtmodel.ptrLike
     | xmtmodel.biblPart
     | xmtmodel.global)*,
    att.global.attribute.xmlid,
    att.global.attribute.n,
    att.global.attribute.xmllang,
    att.global.attribute.rend,
    att.global.attribute.xmlbase,
    att.global.linking.attributes,
    att.declarable.attributes,
    att.typed.attributes,
    empty
  }
xmtlistBibl =
  
  ## (citation list) contains a list of bibliographic citations of any kind. 
  element listBibl {
    (xmtmodel.headLike*,
     (xmtmodel.biblLike | xmtmodel.milestoneLike | xmtlistBibl)+),
    att.global.attribute.xmlid,
    att.global.attribute.n,
    att.global.attribute.xmllang,
    att.global.attribute.rend,
    att.global.attribute.xmlbase,
    att.global.linking.attributes,
    att.declarable.attributes,
    att.typed.attributes,
    empty
  }
xmtl =
  
  ## (verse line) contains a single, possibly incomplete, line of verse.
  element l {
    xmtmacro.paraContent,
    att.global.attribute.xmlid,
    att.global.attribute.n,
    att.global.attribute.xmllang,
    att.global.attribute.rend,
    att.global.attribute.xmlbase,
    att.global.linking.attributes,
    
    ## specifies whether or not the line is metrically complete. 
    [ a1:defaultValue = "N" ]
    attribute part {
      
      ## (yes) the line is metrically incomplete
      "Y"
      | 
        ## (no) either the line is complete, or no claim is made as to its completeness
        "N"
      | 
        ## (initial) the initial part of an incomplete line
        "I"
      | 
        ## (medial) a medial part of an incomplete line
        "M"
      | 
        ## (final) the final part of an incomplete line
        "F"
    }?,
    empty
  }
xmtlg =
  
  ## (line group) contains a group of verse lines functioning as a formal unit, e.g. a stanza, refrain,
  ##         verse paragraph, etc.
  element lg {
    ((xmtmodel.divTop | xmtmodel.global)*,
     (xmtmodel.lLike | xmtlg),
     (xmtmodel.lLike | xmtlg | xmtmodel.global)*,
     (xmtmodel.divBottom, xmtmodel.global*)*),
    att.global.attribute.xmlid,
    att.global.attribute.n,
    att.global.attribute.xmllang,
    att.global.attribute.rend,
    att.global.attribute.xmlbase,
    att.global.linking.attributes,
    att.divLike.attributes,
    att.typed.attributes,
    att.declaring.attributes,
    empty
  }
xmtteiCorpus =
  
  ## contains the whole of a TEI encoded corpus, comprising a single corpus header and one or
  ##         more TEI elements, each containing a single text header and a text.
  element teiCorpus {
    (xmtteiHeader, (xmtTEI | xmtteiCorpus)+),
    att.global.attribute.xmlid,
    att.global.attribute.n,
    att.global.attribute.xmllang,
    att.global.attribute.rend,
    att.global.attribute.xmlbase,
    att.global.linking.attributes,
    
    ## The version of the TEI scheme
    [ a1:defaultValue = "5.0" ] attribute version { xsd:decimal }?,
    empty
  }
xmtdivGen =
  
  ## (automatically generated text division) indicates the location at which a textual division generated
  ##         automatically by a text-processing application is to appear.
  element divGen {
    xmtmodel.headLike*,
    att.global.attribute.xmlid,
    att.global.attribute.n,
    att.global.attribute.xmllang,
    att.global.attribute.rend,
    att.global.attribute.xmlbase,
    att.global.linking.attributes,
    
    ## specifies what type of generated text division (e.g. index,
    ##                 table of contents, etc.) is to appear.
    ## Sample values include: 1] index; 2] toc; 3] figlist; 4] tablist
    attribute type { xsd:Name }?,
    empty
  }
xmtmodel.headerPart = xmtencodingDesc | xmtprofileDesc
xmtteiHeader =
  
  ## (TEI Header) supplies the descriptive and declarative information making
  ##	up an electronic title page prefixed to every TEI-conformant
  ##	text.
  element teiHeader {
    (xmtfileDesc, xmtmodel.headerPart*, xmtrevisionDesc?),
    att.global.attribute.xmlid,
    att.global.attribute.n,
    att.global.attribute.xmllang,
    att.global.attribute.rend,
    att.global.attribute.xmlbase,
    att.global.linking.attributes,
    
    ## specifies the kind of document to which the header is
    ##       attached, for example whether it is a corpus or individual text.
    ## Sample values include: 1] text; 2] corpus
    [ a1:defaultValue = "text" ] attribute type { xsd:Name }?,
    empty
  }
xmtfileDesc =
  
  ## (file description) contains a full bibliographic description of an electronic
  ## file.
  element fileDesc {
    ((xmttitleStmt,
      xmteditionStmt?,
      xmtextent?,
      xmtpublicationStmt,
      xmtnotesStmt?),
     xmtsourceDesc+),
    att.global.attribute.xmlid,
    att.global.attribute.n,
    att.global.attribute.xmllang,
    att.global.attribute.rend,
    att.global.attribute.xmlbase,
    att.global.linking.attributes,
    empty
  }
xmttitleStmt =
  
  ## (title statement) groups information about the title of a work and those
  ## responsible for its intellectual content.
  element titleStmt {
    (xmttitle+, xmtmodel.respLike*),
    att.global.attribute.xmlid,
    att.global.attribute.n,
    att.global.attribute.xmllang,
    att.global.attribute.rend,
    att.global.attribute.xmlbase,
    att.global.linking.attributes,
    empty
  }
xmtsponsor =
  
  ## specifies the name of a sponsoring organization or
  ## institution.
  element sponsor {
    xmtmacro.phraseSeq.limited,
    att.global.attribute.xmlid,
    att.global.attribute.n,
    att.global.attribute.xmllang,
    att.global.attribute.rend,
    att.global.attribute.xmlbase,
    att.global.linking.attributes,
    empty
  }
xmtfunder =
  
  ## (funding body) specifies the name of an individual, institution, or organization
  ## responsible for the funding of a project or text.
  element funder {
    xmtmacro.phraseSeq.limited,
    att.global.attribute.xmlid,
    att.global.attribute.n,
    att.global.attribute.xmllang,
    att.global.attribute.rend,
    att.global.attribute.xmlbase,
    att.global.linking.attributes,
    empty
  }
xmtprincipal =
  
  ## (principal researcher) supplies the name of the principal researcher responsible for the
  ## creation of an electronic text.
  element principal {
    xmtmacro.phraseSeq.limited,
    att.global.attribute.xmlid,
    att.global.attribute.n,
    att.global.attribute.xmllang,
    att.global.attribute.rend,
    att.global.attribute.xmlbase,
    att.global.linking.attributes,
    empty
  }
xmteditionStmt =
  
  ## (edition statement) groups information relating to one edition of a text.
  element editionStmt {
    (xmtmodel.pLike+ | (xmtedition, xmtrespStmt*)),
    att.global.attribute.xmlid,
    att.global.attribute.n,
    att.global.attribute.xmllang,
    att.global.attribute.rend,
    att.global.attribute.xmlbase,
    att.global.linking.attributes,
    empty
  }
xmtedition =
  
  ## (edition) describes the particularities of one edition of a text.
  element edition {
    xmtmacro.phraseSeq,
    att.global.attribute.xmlid,
    att.global.attribute.n,
    att.global.attribute.xmllang,
    att.global.attribute.rend,
    att.global.attribute.xmlbase,
    att.global.linking.attributes,
    empty
  }
xmtextent =
  
  ## describes the approximate size of a text as stored on
  ## some carrier medium, whether digital or non-digital, specified in any convenient units.
  element extent {
    xmtmacro.phraseSeq,
    att.global.attribute.xmlid,
    att.global.attribute.n,
    att.global.attribute.xmllang,
    att.global.attribute.rend,
    att.global.attribute.xmlbase,
    att.global.linking.attributes,
    empty
  }
xmtpublicationStmt =
  
  ## (publication statement) groups information concerning the publication or distribution
  ## of an electronic or other text. 
  element publicationStmt {
    (xmtmodel.pLike+ | xmtmodel.publicationStmtPart+),
    att.global.attribute.xmlid,
    att.global.attribute.n,
    att.global.attribute.xmllang,
    att.global.attribute.rend,
    att.global.attribute.xmlbase,
    att.global.linking.attributes,
    empty
  }
xmtdistributor =
  
  ## supplies the name of a person or other agency responsible for the
  ## distribution of a text.
  element distributor {
    xmtmacro.phraseSeq,
    att.global.attribute.xmlid,
    att.global.attribute.n,
    att.global.attribute.xmllang,
    att.global.attribute.rend,
    att.global.attribute.xmlbase,
    att.global.linking.attributes,
    empty
  }
xmtauthority =
  
  ## (release authority) supplies the name of a person or other agency responsible for
  ##   making an electronic file available, other than a publisher or
  ##   distributor.
  element authority {
    xmtmacro.phraseSeq.limited,
    att.global.attribute.xmlid,
    att.global.attribute.n,
    att.global.attribute.xmllang,
    att.global.attribute.rend,
    att.global.attribute.xmlbase,
    att.global.linking.attributes,
    empty
  }
xmtidno =
  
  ## (identifying number) supplies any standard or non-standard number used to identify a
  ## bibliographic item.
  element idno {
    text,
    att.global.attribute.xmlid,
    att.global.attribute.n,
    att.global.attribute.xmllang,
    att.global.attribute.rend,
    att.global.attribute.xmlbase,
    att.global.linking.attributes,
    
    ## categorizes the number, for example as an ISBN or other
    ##          standard series.
    ##    
    attribute type { xsd:Name }?,
    empty
  }
xmtavailability =
  
  ## supplies information about the availability of a text, for
  ##   example any restrictions on its use or distribution, its copyright
  ##   status, etc.
  element availability {
    xmtmodel.pLike+,
    att.global.attribute.xmlid,
    att.global.attribute.n,
    att.global.attribute.xmllang,
    att.global.attribute.rend,
    att.global.attribute.xmlbase,
    att.global.linking.attributes,
    att.declarable.attributes,
    
    ## supplies a code identifying the current availability of the
    ## text.
    ##    
    [ a1:defaultValue = "unknown" ]
    attribute status {
      
      ## the text is freely available.
      ##     
      "free"
      | 
        ## the status of the text is unknown.
        ##     
        "unknown"
      | 
        ## the text is not freely available.
        ##    
        "restricted"
    }?,
    empty
  }
xmtnotesStmt =
  
  ## (notes statement) collects together any notes providing information about a text
  ## additional to that recorded in other parts of the bibliographic
  ## description.
  element notesStmt {
    xmtmodel.noteLike+,
    att.global.attribute.xmlid,
    att.global.attribute.n,
    att.global.attribute.xmllang,
    att.global.attribute.rend,
    att.global.attribute.xmlbase,
    att.global.linking.attributes,
    empty
  }
xmtmodel.sourceDescPart = notAllowed
xmtsourceDesc =
  
  ## (source description) describes the source from
  ## which an electronic text was derived or generated, typically a bibliographic description in the case of a digitized text, or a phrase such as "born digital" for a text which has no previous existence.
  element sourceDesc {
    (xmtmodel.pLike+
     | (xmtmodel.biblLike
        | xmtmodel.sourceDescPart
        | xmtmodel.listLike)+),
    att.global.attribute.xmlid,
    att.global.attribute.n,
    att.global.attribute.xmllang,
    att.global.attribute.rend,
    att.global.attribute.xmlbase,
    att.global.linking.attributes,
    att.declarable.attributes,
    empty
  }
xmtmodel.encodingPart = xmtprojectDesc | xmteditorialDecl | xmtrefsDecl
xmtencodingDesc =
  
  ## (encoding description) documents the relationship between an electronic text and the
  ## source or sources from which it was derived.
  element encodingDesc {
    (xmtmodel.encodingPart | xmtmodel.pLike)+,
    att.global.attribute.xmlid,
    att.global.attribute.n,
    att.global.attribute.xmllang,
    att.global.attribute.rend,
    att.global.attribute.xmlbase,
    att.global.linking.attributes,
    empty
  }
xmtprojectDesc =
  
  ## (project description) describes in detail the aim or purpose for which an electronic
  ## file was encoded, together with any other relevant information
  ## concerning the process by which it was assembled or collected.
  element projectDesc {
    xmtmodel.pLike+,
    att.global.attribute.xmlid,
    att.global.attribute.n,
    att.global.attribute.xmllang,
    att.global.attribute.rend,
    att.global.attribute.xmlbase,
    att.global.linking.attributes,
    att.declarable.attributes,
    empty
  }
xmtmodel.editorialDeclPart = notAllowed
xmteditorialDecl =
  
  ## (editorial practice declaration) provides details of editorial principles and practices applied
  ## during the encoding of a text.
  element editorialDecl {
    (xmtmodel.pLike+ | xmtmodel.editorialDeclPart+),
    att.global.attribute.xmlid,
    att.global.attribute.n,
    att.global.attribute.xmllang,
    att.global.attribute.rend,
    att.global.attribute.xmlbase,
    att.global.linking.attributes,
    att.declarable.attributes,
    empty
  }
xmtrefsDecl =
  
  ## (references declaration) specifies how canonical references are constructed for this
  ##   text.
  element refsDecl {
    (xmtmodel.pLike+ | xmtcRefPattern+ | xmtrefState+),
    att.global.attribute.xmlid,
    att.global.attribute.n,
    att.global.attribute.xmllang,
    att.global.attribute.rend,
    att.global.attribute.xmlbase,
    att.global.linking.attributes,
    att.declarable.attributes,
    empty
  }
xmtcRefPattern =
  
  ## (canonical reference pattern) specifies an expression and replacement pattern for
  ##   transforming a canonical reference into a URI. 
  element cRefPattern {
    xmtmodel.pLike*,
    att.global.attribute.xmlid,
    att.global.attribute.n,
    att.global.attribute.xmllang,
    att.global.attribute.rend,
    att.global.attribute.xmlbase,
    att.global.linking.attributes,
    
    ## specifies a regular expression against which the values of
    ##       cRef attributes can be matched.
    attribute matchPattern { xsd:token },
    
    ## specifies a replacement pattern
    ##       which, once subpattern substitution has been performed, provides
    ##       a URI.
    attribute replacementPattern { text },
    empty
  }
xmtrefState =
  
  ## (reference state) specifies one component of a canonical reference defined by
  ## the milestone method.
  element refState {
    empty,
    att.global.attribute.xmlid,
    att.global.attribute.n,
    att.global.attribute.xmllang,
    att.global.attribute.rend,
    att.global.attribute.xmlbase,
    att.global.linking.attributes,
    att.sourced.attributes,
    
    ## indicates what kind of state is changing at this milestone.
    ## Suggested values include: 1] page; 2] column; 3] line; 4] book; 5] poem; 6] canto; 7] stanza; 8] act; 9] scene; 10] section; 11] absent
    attribute unit {
      
      ## page breaks in the reference edition.
      ##     
      "page"
      | 
        ## column breaks.
        ##     
        "column"
      | 
        ## line breaks.
        ##     
        "line"
      | 
        ## any units termed book, liber, etc.
        ##     
        "book"
      | 
        ## individual poems in a collection.
        ##     
        "poem"
      | 
        ## cantos or other major sections of a poem.
        ##     
        "canto"
      | 
        ## stanzas within a poem, book, or canto.
        ##     
        "stanza"
      | 
        ## acts within a play.
        ##     
        "act"
      | 
        ## scenes within a play or act.
        ##     
        "scene"
      | 
        ## sections of any kind.
        ##     
        "section"
      | 
        ## passages not present in the reference edition.
        "absent"
      | xsd:Name
    },
    
    ## specifies the fixed length of the reference component.
    attribute length { xsd:nonNegativeInteger }?,
    
    ## (delimiter) supplies a delimiting string following the reference
    ##           component.
    attribute delim { text }?,
    empty
  }
xmtmodel.profileDescPart = xmtlangUsage | xmttextClass
xmtprofileDesc =
  
  ## (text-profile description) provides a detailed description of non-bibliographic aspects of a
  ## text, specifically the languages and sublanguages used, the situation in
  ## which it was produced, the participants and their setting.
  element profileDesc {
    (xmtcreation?, xmtmodel.profileDescPart*),
    att.global.attribute.xmlid,
    att.global.attribute.n,
    att.global.attribute.xmllang,
    att.global.attribute.rend,
    att.global.attribute.xmlbase,
    att.global.linking.attributes,
    empty
  }
xmtcreation =
  
  ## contains information about the creation of a text.
  element creation {
    xmtmacro.phraseSeq.limited,
    att.global.attribute.xmlid,
    att.global.attribute.n,
    att.global.attribute.xmllang,
    att.global.attribute.rend,
    att.global.attribute.xmlbase,
    att.global.linking.attributes,
    empty
  }
xmtlangUsage =
  
  ## (language usage) describes the languages, sublanguages, registers, dialects, etc.
  ## represented within a text.
  element langUsage {
    xmtlanguage+,
    att.global.attribute.xmlid,
    att.global.attribute.n,
    att.global.attribute.xmllang,
    att.global.attribute.rend,
    att.global.attribute.xmlbase,
    att.global.linking.attributes,
    att.declarable.attributes,
    empty
  }
xmtlanguage =
  
  ## characterizes a single language or sublanguage used within a
  ##   text.
  element language {
    xmtmacro.phraseSeq.limited,
    att.global.attribute.xmlid,
    att.global.attribute.n,
    att.global.attribute.xmllang,
    att.global.attribute.rend,
    att.global.attribute.xmlbase,
    att.global.linking.attributes,
    
    ## (identifier) Supplies a language code constructed as defined in BCP 47 which is used to identify the language documented
    ##       by this element, and which is referenced by the global xml:lang attribute.
    attribute ident { xsd:language },
    
    ## specifies the approximate percentage (by volume) of the
    ##       text which uses this language.
    ##       
    attribute usage {
      xsd:nonNegativeInteger { maxInclusive = "100" }
    }?,
    empty
  }
xmttextClass =
  
  ## (text classification) groups information which describes the nature or topic of a text
  ## in terms of a standard classification scheme, thesaurus, etc.
  element textClass {
    xmtkeywords*,
    att.global.attribute.xmlid,
    att.global.attribute.n,
    att.global.attribute.xmllang,
    att.global.attribute.rend,
    att.global.attribute.xmlbase,
    att.global.linking.attributes,
    att.declarable.attributes,
    empty
  }
xmtkeywords =
  
  ## contains a list of keywords or phrases identifying the topic or
  ## nature of a text.
  element keywords {
    (xmtterm+ | xmtlist),
    att.global.attribute.xmlid,
    att.global.attribute.n,
    att.global.attribute.xmllang,
    att.global.attribute.rend,
    att.global.attribute.xmlbase,
    att.global.linking.attributes,
    
    ## identifies the controlled vocabulary within which the set of
    ##   keywords concerned is defined.
    ##    
    attribute scheme { xsd:anyURI },
    empty
  }
xmtrevisionDesc =
  
  ## (revision description) summarizes the revision history for a file.
  element revisionDesc {
    (xmtlist | xmtchange+),
    att.global.attribute.xmlid,
    att.global.attribute.n,
    att.global.attribute.xmllang,
    att.global.attribute.rend,
    att.global.attribute.xmlbase,
    att.global.linking.attributes,
    empty
  }
xmtchange =
  
  ## summarizes a particular change or correction made
  ## to a particular version of an electronic text which is
  ## shared between several researchers.
  element change {
    (text | xmtmodel.limitedPhrase | xmtmodel.inter | xmtmodel.global)*,
    att.global.attribute.xmlid,
    att.global.attribute.n,
    att.global.attribute.xmllang,
    att.global.attribute.rend,
    att.global.attribute.xmlbase,
    att.global.linking.attributes,
    att.ascribed.attributes,
    
    ## supplies the date of the change in standard form, i.e. YYYY-MM-DD.
    attribute when {
      xsd:date
      | xsd:gYear
      | xsd:gMonth
      | xsd:gDay
      | xsd:gYearMonth
      | xsd:gMonthDay
      | xsd:time
      | xsd:dateTime
    }?,
    empty
  }
xmtTEI =
  
  ## (TEI document) contains a single TEI-conformant document,
  ## comprising a TEI header and a text, either in isolation or as part of a
  ## teiCorpus element.
  element TEI {
    (xmtteiHeader,
     ((xmtmodel.resourceLike+, xmttext?) | xmttext))
    >> s:ns [ prefix = "tei" uri = "http://www.tei-c.org/ns/1.0" ]
    >> s:ns [
         prefix = "rng"
         uri = "http://relaxng.org/ns/structure/1.0"
       ],
    att.global.attribute.xmlid,
    att.global.attribute.n,
    att.global.attribute.xmllang,
    att.global.attribute.rend,
    att.global.attribute.xmlbase,
    att.global.linking.attributes,
    
    ## The version of the TEI scheme
    [ a1:defaultValue = "5.0" ] attribute version { xsd:decimal }?,
    empty
  }
xmttext =
  
  ## contains a single text of any kind, whether unitary or composite, for example a poem or
  ##     drama, a collection of essays, a novel, a dictionary, or a corpus sample.
  element text {
    (xmtmodel.global*,
     (xmtfront, xmtmodel.global*)?,
     (xmtbody | xmtgroup),
     xmtmodel.global*,
     (xmtback, xmtmodel.global*)?),
    att.global.attribute.xmlid,
    att.global.attribute.n,
    att.global.attribute.xmllang,
    att.global.attribute.rend,
    att.global.attribute.xmlbase,
    att.global.linking.attributes,
    att.declaring.attributes,
    att.typed.attributes,
    empty
  }
xmtbody =
  
  ## (text body) contains the whole body of a single unitary text, excluding any front or back matter.
  element body {
    (xmtmodel.global*,
     (xmtmodel.divTop, (xmtmodel.global | xmtmodel.divTop)*)?,
     (xmtmodel.divGenLike, (xmtmodel.global | xmtmodel.divGenLike)*)?,
     ((xmtmodel.divLike, (xmtmodel.global | xmtmodel.divGenLike)*)+
      | (xmtmodel.div1Like, (xmtmodel.global | xmtmodel.divGenLike)*)+
      | ((xmtmodel.common, xmtmodel.global*)+,
         ((xmtmodel.divLike, (xmtmodel.global | xmtmodel.divGenLike)*)+
          | (xmtmodel.div1Like,
             (xmtmodel.global | xmtmodel.divGenLike)*)+)?)),
     (xmtmodel.divBottom, xmtmodel.global*)*),
    att.global.attribute.xmlid,
    att.global.attribute.n,
    att.global.attribute.xmllang,
    att.global.attribute.rend,
    att.global.attribute.xmlbase,
    att.global.linking.attributes,
    att.declaring.attributes,
    empty
  }
xmtgroup =
  
  ## contains the body of a composite text, grouping together a sequence of distinct texts (or
  ##     groups of such texts) which are regarded as a unit for some purpose, for example the collected
  ##     works of an author, a sequence of prose essays, etc.
  element group {
    ((xmtmodel.divTop | xmtmodel.global)*,
     ((xmttext | xmtgroup), (xmttext | xmtgroup | xmtmodel.global)*),
     xmtmodel.divBottom*),
    att.global.attribute.xmlid,
    att.global.attribute.n,
    att.global.attribute.xmllang,
    att.global.attribute.rend,
    att.global.attribute.xmlbase,
    att.global.linking.attributes,
    att.declaring.attributes,
    empty
  }
xmtdiv =
  
  ## (text division) contains a subdivision of the front, body, or back of a text.
  element div {
    ((xmtmodel.divTop | xmtmodel.global)*,
     ((((xmtmodel.divLike | xmtmodel.divGenLike), xmtmodel.global*)+
       | ((xmtmodel.common, xmtmodel.global*)+,
          ((xmtmodel.divLike | xmtmodel.divGenLike),
           xmtmodel.global*)*)),
      (xmtmodel.divBottom, xmtmodel.global*)*)?),
    att.global.attribute.xmlid,
    att.global.attribute.n,
    att.global.attribute.xmllang,
    att.global.attribute.rend,
    att.global.attribute.xmlbase,
    att.global.linking.attributes,
    att.divLike.attributes,
    att.typed.attributes,
    att.declaring.attributes,
    empty
  }
xmtdateline =
  
  ## contains a brief description of the place, date, time, etc. of production of a letter,
  ##     newspaper story, or other work, prefixed or suffixed to it as a kind of heading or trailer. 
  element dateline {
    xmtmacro.phraseSeq,
    att.global.attribute.xmlid,
    att.global.attribute.n,
    att.global.attribute.xmllang,
    att.global.attribute.rend,
    att.global.attribute.xmlbase,
    att.global.linking.attributes,
    empty
  }
xmtfront =
  
  ## (front matter) contains any prefatory matter (headers,
  ## title page, prefaces, dedications, etc.)
  ## found  at the start of a document, before the main body.
  element front {
    ((xmtmodel.frontPart | xmtmodel.pLike.front | xmtmodel.global)*,
     ((xmtmodel.div1Like,
       (xmtmodel.frontPart | xmtmodel.div1Like | xmtmodel.global)*)
      | (xmtmodel.divLike,
         (xmtmodel.frontPart | xmtmodel.divLike | xmtmodel.global)*))?,
     (xmtmodel.divBottomPart,
      (xmtmodel.divBottomPart | xmtmodel.global)*)?),
    att.global.attribute.xmlid,
    att.global.attribute.n,
    att.global.attribute.xmllang,
    att.global.attribute.rend,
    att.global.attribute.xmlbase,
    att.global.linking.attributes,
    att.declaring.attributes,
    empty
  }
xmtback =
  
  ## (back matter) contains any appendixes, etc. following the main part of a text.
  element back {
    ((xmtmodel.frontPart | xmtmodel.pLike.front | xmtmodel.global)*,
     ((xmtmodel.div1Like,
       (xmtmodel.frontPart | xmtmodel.div1Like | xmtmodel.global)*)
      | (xmtmodel.divLike,
         (xmtmodel.frontPart | xmtmodel.divLike | xmtmodel.global)*))?,
     (xmtmodel.divBottomPart,
      (xmtmodel.divBottomPart | xmtmodel.global)*)?),
    att.global.attribute.xmlid,
    att.global.attribute.n,
    att.global.attribute.xmllang,
    att.global.attribute.rend,
    att.global.attribute.xmlbase,
    att.global.linking.attributes,
    att.declaring.attributes,
    empty
  }
xmttable =
  
  ## contains text displayed in tabular form, in rows and columns.
  element table {
    ((xmtmodel.headLike | xmtmodel.global)*,
     (xmtrow, xmtmodel.global*)+),
    
    ## specify the type of a table
    attribute xmt:type {
      xsd:token { pattern = "(\p{L}|\p{N}|\p{P}|\p{S})+" }
    }?,
    
    ## indicates the number of rows in the table.
    attribute rows { xsd:nonNegativeInteger }?,
    
    ## (columns) indicates the number of columns in each row of the table.
    attribute cols { xsd:nonNegativeInteger }?,
    att.global.attribute.xmlid,
    att.global.attribute.n,
    att.global.attribute.xmllang,
    att.global.attribute.rend,
    att.global.attribute.xmlbase,
    att.global.linking.attributes,
    empty
  }
xmtrow =
  
  ## contains one row of a table. 
  element row {
    xmtcell+,
    att.global.attribute.xmlid,
    att.global.attribute.n,
    att.global.attribute.xmllang,
    att.global.attribute.rend,
    att.global.attribute.xmlbase,
    att.global.linking.attributes,
    att.tableDecoration.attributes,
    empty
  }
xmtcell =
  
  ## contains one cell of a table. 
  element cell {
    xmtmacro.paraContent,
    att.global.attribute.xmlid,
    att.global.attribute.n,
    att.global.attribute.xmllang,
    att.global.attribute.rend,
    att.global.attribute.xmlbase,
    att.global.linking.attributes,
    att.tableDecoration.attributes,
    empty
  }
xmtfigure =
  
  ## groups elements representing or containing graphic information such as an illustration or
  ##     figure.
  element figure {
    (xmtmodel.headLike
     | xmtmodel.pLike
     | xmtfigDesc
     | xmtmodel.graphicLike
     | xmtmodel.egLike
     | xmtfigure
     | xmtmodel.global)*,
    att.global.attribute.xmlid,
    att.global.attribute.n,
    att.global.attribute.xmllang,
    att.global.attribute.rend,
    att.global.attribute.xmlbase,
    att.global.linking.attributes,
    att.placement.attributes,
    empty
  }
xmtfigDesc =
  
  ## (description of figure) contains a brief prose description of the appearance or content
  ## of a graphic figure, for use when documenting an image without
  ## displaying it.
  element figDesc {
    xmtmacro.limitedContent,
    att.global.attribute.xmlid,
    att.global.attribute.n,
    att.global.attribute.xmllang,
    att.global.attribute.rend,
    att.global.attribute.xmlbase,
    att.global.linking.attributes,
    empty
  }
xmtab =
  
  ## (anonymous block) contains any arbitrary component-level unit of text, acting as
  ## an anonymous container for phrase or inter level elements analogous to, but
  ## without the semantic baggage of, a paragraph.
  element ab {
    xmtmacro.paraContent,
    att.global.attribute.xmlid,
    att.global.attribute.n,
    att.global.attribute.xmllang,
    att.global.attribute.rend,
    att.global.attribute.xmlbase,
    att.global.linking.attributes,
    att.typed.attributes,
    att.declaring.attributes,
    
    ## specifies whether or not the block is complete. 
    [ a1:defaultValue = "N" ]
    attribute part {
      
      ## (yes) the block is incomplete
      "Y"
      | 
        ## (no) either the block is complete, or no claim is made as to its
        ## completeness
        "N"
      | 
        ## (initial) the initial part of an incomplete block
        "I"
      | 
        ## (medial) a medial part of an incomplete block
        "M"
      | 
        ## (final) the final part of an incomplete block
        "F"
    }?,
    empty
  }
xmtanchor =
  
  ## (anchor point) attaches an identifier to a
  ## point within a text, whether or not it corresponds with a textual
  ## element.
  element anchor {
    empty,
    att.global.attribute.xmlid,
    att.global.attribute.n,
    att.global.attribute.xmllang,
    att.global.attribute.rend,
    att.global.attribute.xmlbase,
    att.global.linking.attributes,
    att.typed.attributes,
    empty
  }
xmtseg =
  
  ## (arbitrary segment) represents any  segmentation of text below the
  ##   chunk level.
  element seg {
    xmtmacro.paraContent,
    att.global.attribute.xmlid,
    att.global.attribute.n,
    att.global.attribute.xmllang,
    att.global.attribute.rend,
    att.global.attribute.xmlbase,
    att.global.linking.attributes,
    att.segLike.attributes,
    att.typed.attributes,
    empty
  }
att.global.linking.attributes =
  att.global.linking.attribute.corresp,
  att.global.linking.attribute.synch,
  att.global.linking.attribute.sameAs,
  att.global.linking.attribute.copyOf,
  att.global.linking.attribute.next,
  att.global.linking.attribute.prev,
  att.global.linking.attribute.exclude,
  att.global.linking.attribute.select,
  empty
att.global.linking.attribute.corresp =
  
  ## (corresponds) points to elements that correspond to the current
  ##       element in some way.
  attribute corresp {
    list { xsd:anyURI+ }
  }?
att.global.linking.attribute.synch =
  
  ## (synchronous) points to elements that are synchronous with the current
  ##       element.
  attribute synch {
    list { xsd:anyURI+ }
  }?
att.global.linking.attribute.sameAs =
  
  ## points to an element that is the same as the current
  ##       element.
  attribute sameAs { xsd:anyURI }?
att.global.linking.attribute.copyOf =
  
  ## points to an element of which the current element is a
  ##	copy.
  attribute copyOf { xsd:anyURI }?
att.global.linking.attribute.next =
  
  ## points to the next element of a virtual aggregate of which
  ##       the current element is part.
  attribute next { xsd:anyURI }?
att.global.linking.attribute.prev =
  
  ## (previous) points to the previous element of a virtual aggregate of
  ##       which the current element is part.
  attribute prev { xsd:anyURI }?
att.global.linking.attribute.exclude =
  
  ## points to elements that are in exclusive alternation
  ##       with the current element.
  attribute exclude {
    list { xsd:anyURI+ }
  }?
att.global.linking.attribute.select =
  
  ## selects one or more alternants; if one alternant is
  ##       selected, the ambiguity or uncertainty is marked as resolved. If
  ##       more than one alternant is selected, the degree of ambiguity or
  ##       uncertainty is marked as reduced by the number of alternants not
  ##       selected.
  attribute select {
    list { xsd:anyURI+ }
  }?
att.pointing.attributes =
  att.pointing.attribute.type, att.pointing.attribute.evaluate, empty
att.pointing.attribute.type =
  
  ## categorizes the pointer in some respect, using any
  ##       convenient set of categories.
  attribute type { xsd:Name }?
att.pointing.attribute.evaluate =
  
  ## specifies the intended meaning when the target of a
  ##       pointer is itself a pointer.
  attribute evaluate {
    
    ## if the element pointed to is itself a pointer, then
    ##	  the target of that pointer will be taken, and so on, until
    ##	  an element is found which is not a pointer.
    "all"
    | 
      ## if the element pointed to is itself a pointer, then
      ##	  its target (whether a pointer or not) is taken as the target
      ##	  of this pointer.
      "one"
    | 
      ## no further evaluation of targets is carried out
      ##	  beyond that needed to find the element specified in the
      ##	  pointer's target.
      "none"
  }?
xmtcode =
  
  ## contains literal code from some formal language such as a
  ## programming language.
  element code {
    text,
    
    ## (formal language) a name identifying the formal language in which  the
    ##	code is expressed
    attribute lang {
      xsd:token { pattern = "(\p{L}|\p{N}|\p{P}|\p{S})+" }
    }?,
    att.global.attribute.xmlid,
    att.global.attribute.n,
    att.global.attribute.xmllang,
    att.global.attribute.rend,
    att.global.attribute.xmlbase,
    att.global.linking.attributes,
    empty
  }
xmteg =
  
  ## (example) contains any kind of illustrative example. 
  element eg {
    text,
    att.global.attribute.xmlid,
    att.global.attribute.n,
    att.global.attribute.xmllang,
    att.global.attribute.rend,
    att.global.attribute.xmlbase,
    att.global.linking.attributes,
    att.xmlspace.attributes,
    empty
  }
xmtaffiliation =
  
  ## (affiliation) contains an informal description of a person's present or past affiliation with some
  ##         organization, for example an employer or sponsor.
  element affiliation {
    xmtmacro.phraseSeq,
    att.global.attribute.xmlid,
    att.global.attribute.n,
    att.global.attribute.xmllang,
    att.global.attribute.rend,
    att.global.attribute.xmlbase,
    att.global.linking.attributes,
    att.editLike.attributes,
    att.datable.attributes,
    att.naming.attributes,
    empty
  }
att.datable.iso.attributes =
  att.datable.iso.attribute.when-iso,
  att.datable.iso.attribute.notBefore-iso,
  att.datable.iso.attribute.notAfter-iso,
  att.datable.iso.attribute.from-iso,
  att.datable.iso.attribute.to-iso,
  empty
att.datable.iso.attribute.when-iso =
  
  ## supplies the value of a date or time in a standard form.
  attribute when-iso {
    xsd:date
    | xsd:gYear
    | xsd:gMonth
    | xsd:gDay
    | xsd:gYearMonth
    | xsd:gMonthDay
    | xsd:time
    | xsd:dateTime
    | xsd:token { pattern = "[0-9.,DHMPRSTWYZ/:+\-]+" }
  }?
att.datable.iso.attribute.notBefore-iso =
  
  ## specifies the earliest possible date for the event in standard form, e.g.
  ##                 yyyy-mm-dd.
  attribute notBefore-iso {
    xsd:date
    | xsd:gYear
    | xsd:gMonth
    | xsd:gDay
    | xsd:gYearMonth
    | xsd:gMonthDay
    | xsd:time
    | xsd:dateTime
    | xsd:token { pattern = "[0-9.,DHMPRSTWYZ/:+\-]+" }
  }?
att.datable.iso.attribute.notAfter-iso =
  
  ## specifies the latest possible date for the event in standard form, e.g.
  ##                 yyyy-mm-dd.
  attribute notAfter-iso {
    xsd:date
    | xsd:gYear
    | xsd:gMonth
    | xsd:gDay
    | xsd:gYearMonth
    | xsd:gMonthDay
    | xsd:time
    | xsd:dateTime
    | xsd:token { pattern = "[0-9.,DHMPRSTWYZ/:+\-]+" }
  }?
att.datable.iso.attribute.from-iso =
  
  ## indicates the starting point of the period in standard form.
  attribute from-iso {
    xsd:date
    | xsd:gYear
    | xsd:gMonth
    | xsd:gDay
    | xsd:gYearMonth
    | xsd:gMonthDay
    | xsd:time
    | xsd:dateTime
    | xsd:token { pattern = "[0-9.,DHMPRSTWYZ/:+\-]+" }
  }?
att.datable.iso.attribute.to-iso =
  
  ## indicates the ending point of the period in standard form.
  attribute to-iso {
    xsd:date
    | xsd:gYear
    | xsd:gMonth
    | xsd:gDay
    | xsd:gYearMonth
    | xsd:gMonthDay
    | xsd:time
    | xsd:dateTime
    | xsd:token { pattern = "[0-9.,DHMPRSTWYZ/:+\-]+" }
  }?
xmtoList =
  
  ## Ordered List
  element xmt:oList {
    att.global.attributes,
    ((xmtmodel.divTop | xmtmodel.global)*,
     ((xmtitem, xmtmodel.global*)+
      | (xmtlabel, xmtmodel.global*, xmtitem, xmtmodel.global*)+),
     (xmtmodel.divBottom, xmtmodel.global*)*),
    empty
  }
xmtuList =
  
  ## Unordered List
  element xmt:uList {
    att.global.attributes,
    ((xmtmodel.divTop | xmtmodel.global)*,
     ((xmtitem, xmtmodel.global*)+
      | (xmtlabel, xmtmodel.global*, xmtitem, xmtmodel.global*)+),
     (xmtmodel.divBottom, xmtmodel.global*)*),
    empty
  }
xmtdownload =
  
  ## Contains a reference to a downloadable file
  element xmt:download {
    att.global.attributes,
    att.pointing.attributes,
    att.declaring.attributes,
    (attribute target { text }?
     | attribute cRef { text }?),
    xmtmacro.paraContent,
    empty
  }
start = xmtTEI | xmtteiCorpus
